@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
    themes: light --default, dark --prefersdark
}

.btn {
	@apply border-[3px];
}

.btn-primary-special {
	@apply btn-primary bg-primary-content font-bold text-neutral hover:border-primary hover:bg-primary hover:text-primary-content;
}

.btn-secondary-special {
	@apply btn-secondary bg-secondary-content font-bold text-neutral hover:border-secondary hover:bg-secondary hover:text-secondary-content;
}

.btn-neutral-special {
	@apply btn-outline btn-neutral bg-neutral-content font-bold text-neutral hover:border-neutral hover:bg-neutral hover:text-neutral-content;
}

.alert {
	@apply inline-grid w-auto shadow;
}

.small-title {
	-webkit-text-stroke: 1px oklch(var(--nc));
}

hr {
	border: none;
	height: 1px;
}
