@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";
@plugin "daisyui/theme" {
	name: 'light';
	default: true; /* set as default */

	--color-base-100: #ffffff;
	--color-primary: #115e59;
	--color-primary-content: #d0dddb;
	--color-secondary: #4f46e5;
	--color-secondary-content: #e5dcff;
	--color-accent: #ac2c00;
	--color-accent-content: #f7e1d9;
	--color-neutral: #4b5563;
	--color-neutral-content: #bbbbcc;
	--color-info: #7cb3ff;
	--color-success: #84cc16;
	--color-success-content: #114040;
	--color-warning: #facc15;
	--color-error: #ef4444;
}
@plugin "daisyui/theme" {
	name: 'dark';
	default: false; /* set as default */

	--color-base-100: #374151;
	--color-primary: #d0dddb;
	--color-primary-content: #115e59;
	--color-secondary: #e5dcff;
	--color-secondary-content: #4f46e5;
	--color-accent: #f7e1d9;
	--color-accent-content: #ac2c00;
	--color-neutral: #bbbbcc;
	--color-neutral-content: #5c6674;
	--color-info: #3b82f6;
	--color-success: #84cc16;
	--color-success-content: #114040;
	--color-warning: #facc15;
	--color-error: #ef4444;
}

.btn {
	@apply border-[3px];
}

.btn-primary-special {
	@apply btn-primary bg-primary-content text-neutral hover:border-primary hover:bg-primary hover:text-primary-content font-bold;
}

.btn-secondary-special {
	@apply btn-secondary bg-secondary-content text-neutral hover:border-secondary hover:bg-secondary hover:text-secondary-content font-bold;
}

.btn-neutral-special {
	@apply btn-outline btn-neutral bg-neutral-content text-neutral hover:border-neutral hover:bg-neutral hover:text-neutral-content font-bold;
}

.alert {
	@apply inline-grid w-auto shadow;
}

.small-title {
	-webkit-text-stroke: 1px var(--color-neutral-content);
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes suspense {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.animate-suspense {
	animation: suspense 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	animation-delay: 300ms;
}

hr {
	border: none;
	height: 1px;
}
